// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "responsive";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

canvas{
    margin:0 auto;
    width: 800px;
    height: 500px;
    display: block;
    border: 2px solid #000;
    border-radius: 6px;
}

.signature-border{
    display: block;
    width: 100%;
    max-width: 600px;
    border-top: 2px dashed #AAA;
    padding: 10px; 
    margin: -120px auto 150px;
    color: #AAA;
    text-align: center;
}

#content{
    .block-title{
        margin: 35px 0px 10px;
    }

    .block-subtitle{
        margin: 6px 0px 25px;
    }
}

.file_container{
    [type="file"] {
        height: 0;
        overflow: hidden;
        width: 0;
    }

    [type="file"]+label {
        background: #f15d22;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: inherit;
        font-weight: 600;
        margin-bottom: 1rem;
        outline: none;
        padding: 1rem 50px;
        position: relative;
        transition: all 0.3s;
        vertical-align: middle;

        &:hover {
            background-color: darken(#f15d22, 10%);
        }

        &.btn-2 {
            background-color: #302DAB;
            border-radius: 50px;
            overflow: hidden;

            &::before {
                color: #fff;
                content: "\f382";
                font-family: "Font Awesome 5 free";
                font-size: 100%;
                height: 100%;
                right: 130%;
                line-height: 3.3;
                position: absolute;
                top: 0px;
                transition: all 0.3s;
            }

            &:hover {
                background-color: darken(#736BBA, 30%);

                &::before {
                    right: 75%;
                }
            }
        }
    }
}

.tablaContrato {
    border: solid 1px;
    width: 50%;

    th {
        width: 200px;
        padding: 3px;
    }
}


.wizard {
    margin: 20px auto;
    background: #fff;

        .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0;
        }

        div.wizard-inner {
            position: relative;
        }

        .nav-tabs>li.active>a,
        .wizard .nav-tabs>li.active>a:hover,
        .wizard .nav-tabs>li.active>a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        li.active span.round-tab {
            background: #fff;
            border: 2px solid #5bc0de;

        }

        li.active span.round-tab i {
            color: #5bc0de;
        }

        li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #5bc0de;
            transition: 0.1s ease-in-out;
        }

        li.active:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #5bc0de;
        }

        span.round-tab:hover {
            color: #333;
            border: 2px solid #333;
        }

        .nav-tabs>li {
            width: 16%;
        }

        .nav-tabs>li a {
            width: 70px;
            height: 70px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
        }
        .nav-tabs>li a:hover {
            background: transparent;
        }

        .tab-pane {
            position: relative;
        }

        h3 {
            margin-top: 0;
        }
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;

    i {
        color: #555555;
    }
}

.back-deco-us {
    display: block;
    position: relative;
    max-height: 1080px;
    background-repeat: no-repeat;
    background-size: 600px 538px;
    background-attachment: fixed;
}

.back-deco {
    display: block;
    position: relative;
    max-height: 720px;
    background-repeat: no-repeat;
    background-size: 600px 538px;
    background-attachment: fixed;
    overflow: hidden;
}

.logo-deco {
    position: absolute;
    top: 100px;
    left: 70px;
    max-width: 150px;
    max-height: 110px;
}

.logo-deco-noti {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 150px;
    max-height: 110px;
}

.logo {
    margin-top: 5px;
    max-width: 120px;
    max-height: 80px;
    padding: 10px 10px;
}

.emoji {
    font-size: 50px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.social {
    padding: 10px 10px;
    color: grey;
}

.ctm-ico {
    font-size: 18px;
}

.btn-custom {
    display: block;
    width: 30%;
    margin: auto;
}

.btn-pixel {
    background-color: #312AAD;
    color: white;
}

.btn-pixel:hover {
    color: white;
    background-color: #4039cc;
}

.custom-bg {
    background-color: #554DD5;
}

.form-ctm {
    background-color: #fff;
    border-radius: 10px;
}

.form-new {
    max-width: 420px;
}


.form-ctm-noti {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    max-width: 480px;
    padding: 20px 32px;
}

.row {
    display: flex;
    padding: 20px 35px;
}

.column {
    flex: 50%;
    padding: 15px 15px;
}

.date {
    padding: 0;
    margin: 0;

    small {
        color: rgba(0, 0, 0, 0.5);
        margin: 0 !important;
        line-height: 1em;
    }
    p {
        font-size: 18px;
        margin: 0 !important;
        margin-left: 4px;
        line-height: 1em;
    }
}

.ctm-label-comp {
    background-color: #5EAD6B;
    color: white;
    border-radius: 20px;
    font-size: 13px;
}

.ctm-label-pend {
    background-color: #8348A5;
    color: white;
    border-radius: 20px;
    font-size: 12px;
}

.ctm-label-vacio {
    background-color: #ceca42;
    color: white;
    border-radius: 20px;
    font-size: 12px;
}

.center {
    padding: 0px 30px;
}

.dropdown-item {
    display: block;
    padding: 7px 7px;
    color: rgba(0, 0, 0, 0.6);
}

.dropdown-item:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9)
}

.line-h {
    line-height: 0px;
}

.text-vert-center {
    vertical-align: middle;
}

.fullwidth {
    width: 100%;
    min-height: 100%;
}

.not-fullwidth,
.fullwidth.not-overflow {
    height: 100%;
    overflow: hidden;
}

.middle {
    display: table;
}

.middle-wrap {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.h4-al {
    font-size: 18px;
    max-width: 380px;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
}

.disableSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.attachments_container {
    background-color: #dddddd;
    padding:15px 15px;
    margin-bottom:15px;
    border-radius: 6px;

    h3, p{
        display: flex;
        justify-content: center;
    }

    a{
        display: block;
        margin: auto;
        max-width: 180px;
    }

    .switch_container{
        display: flex;
        justify-content: center;
        padding: 10px 15px;
        margin-top: 13px;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
        margin-right: 5px;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

}